* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    display: grid;
    place-items: center;
    .card {
        width: 95%;
        max-width: 370px;
        height: 250px;
        // transform: perspective(600);
        .card-inner {
            width: 100%;
            height: 100%;
            position: relative;
            transform-style: preserve-3d;
            transition: all 1s;
            .front,
            .back {
                width: 100%;
                height: 100%;
                position: absolute;
                border: 1px solid;
                display: grid;
                place-items: center;
                backface-visibility: hidden;
                font-size: 2.5rem;
                text-transform: uppercase;
            }
            .front {
                background-color: #4bcffa;
                z-index: 1;
            }
            .back {
                background-color: #ff5e57;
                transform: rotateY(180deg);
            }
        }
        &:hover .card-inner {
            transform: rotateY(180deg);
        }
    }
}